certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
et-xmlfile==1.1.0
halo==0.0.31
idna==3.4
jmespath==1.0.1
log-symbols==0.0.14
numpy==1.26.0
openpyxl==3.1.2
pandas==2.1.1
psutil==5.9.6
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
spinners==0.0.24
termcolor==2.4.0
tzdata==2023.3
urllib3==2.0.7
